### 표본 추출

- 층화 표본 추출 : 군집별로 지정한 비율 만큼의 데이터를 임의 추출
- 계통 추출 : 첫 표본을 무작위로 추출하고 표집 간격 k 만큼 떨어진 곳의 데이터 추출
- 군집 추출 : 소수의 군집으로 분할하고 일정 수의 소집단을 임의 표본 추출

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
bike = pd.read_csv('data2/bike.csv')

In [17]:
bike.groupby('season').sample(n=10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
512,2011-02-04 12:00:00,1,0,1,2,9.84,12.120,48,11.0014,8,78,86
229,2011-01-10 20:00:00,1,0,1,1,6.56,8.335,50,11.0014,1,73,74
113,2011-01-05 22:00:00,1,0,1,1,7.38,9.850,55,8.9981,1,41,42
985,2011-03-05 12:00:00,1,0,0,2,18.04,21.970,67,16.9979,46,121,167
612,2011-02-08 16:00:00,1,0,1,1,9.02,9.090,35,35.0008,4,79,83
1179,2011-03-13 20:00:00,1,0,0,1,13.12,15.150,57,19.9995,23,54,77
626,2011-02-09 07:00:00,1,0,1,1,2.46,5.305,49,7.0015,4,95,99
5577,2012-01-07 12:00:00,1,0,0,1,16.40,20.455,43,15.0013,100,276,376
196,2011-01-09 11:00:00,1,0,0,1,6.56,6.060,40,35.0008,2,47,49
178,2011-01-08 17:00:00,1,0,0,1,6.56,6.060,37,36.9974,5,64,69
2625,2011-06-17 07:00:00,2,0,1,1,24.60,28.030,83,0.0000,25,225,250
2039,2011-05-11 21:00:00,2,0,1,1,22.14,25.760,60,0.0000,32,202,234
6993,2012-04-09 17:00:00,2,0,1,1,22.14,25.760,32,27.9993,67,565,632
2529,2011-06-13 07:00:00,2,0,1,1,22.96,26.515,56,23.9994,26,302,328
1667,2011-04-15 09:00:00,2,1,0,1,20.50,24.240,55,12.9980,16,162,178
2274,2011-06-02 16:00:00,2,0,1,1,32.80,34.090,22,32.9975,63,255,318
1511,2011-04-08 20:00:00,2,0,1,2,12.30,13.635,93,22.0028,12,51,63
1604,2011-04-12 18:00:00,2,0,1,3,18.04,21.970,77,15.0013,21,203,224
1425,2011-04-05 06:00:00,2,0,1,2,19.68,23.485,88,22.0028,2,36,38
7402,2012-05-07 19:00:00,2,0,1,1,23.78,27.275,56,22.0028,83,463,546
2734,2011-07-02 20:00:00,3,0,0,1,31.16,34.090,45,19.0012,136,148,284
3893,2011-09-13 06:00:00,3,0,1,1,22.96,26.515,88,7.0015,6,116,122
3792,2011-09-09 00:00:00,3,0,1,3,26.24,28.030,94,12.9980,1,15,16
8828,2012-08-10 05:00:00,3,0,1,3,28.70,33.335,84,19.0012,4,29,33
3153,2011-08-01 07:00:00,3,0,1,1,30.34,34.090,62,0.0000,24,258,282
8911,2012-08-13 16:00:00,3,0,1,1,32.80,35.605,36,6.0032,116,348,464
8181,2012-07-02 06:00:00,3,0,1,1,28.70,32.575,58,7.0015,4,132,136
3190,2011-08-02 20:00:00,3,0,1,2,33.62,37.880,46,16.9979,40,248,288
2771,2011-07-04 09:00:00,3,1,0,2,29.52,34.090,66,6.0032,142,96,238
9011,2012-08-17 20:00:00,3,0,1,2,29.52,12.120,58,15.0013,97,262,359
4975,2011-12-01 09:00:00,4,0,1,1,12.30,13.635,52,22.0028,9,215,224
9777,2012-10-11 18:00:00,4,0,1,1,18.86,22.725,44,11.0014,64,628,692
9694,2012-10-08 07:00:00,4,1,0,2,13.94,16.665,76,11.0014,3,151,154
10281,2012-11-13 19:00:00,4,0,1,1,13.12,14.395,49,23.9994,12,344,356
9759,2012-10-11 00:00:00,4,0,1,1,18.04,21.970,51,8.9981,1,41,42
4057,2011-10-01 02:00:00,4,0,0,1,18.86,22.725,63,27.9993,21,46,67
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81
9843,2012-10-14 12:00:00,4,0,0,1,25.42,31.060,46,22.0028,200,362,562
10518,2012-12-04 16:00:00,4,0,1,1,23.78,27.275,49,19.0012,44,391,435
5125,2011-12-07 15:00:00,4,0,1,3,17.22,21.210,94,15.0013,5,25,30

In [22]:
bike.groupby('season').sample(frac=0.1,weights=10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1022,2011-03-07 03:00:00,1,0,1,1,8.20,7.575,80,39.0007,0,1,1
5840,2012-01-18 13:00:00,1,0,1,1,12.30,13.635,42,31.0009,6,124,130
6714,2012-03-17 01:00:00,1,0,0,2,18.04,21.970,94,0.0000,12,57,69
795,2011-02-16 14:00:00,1,0,1,1,18.86,22.725,28,27.9993,17,65,82
106,2011-01-05 15:00:00,1,0,1,1,12.30,14.395,28,12.9980,7,55,62
...,...,...,...,...,...,...,...,...,...,...,...,...
9557,2012-10-02 14:00:00,4,0,1,3,24.60,27.275,88,8.9981,16,147,163
4824,2011-11-14 02:00:00,4,0,1,1,18.86,22.725,63,23.9994,7,10,17
4358,2011-10-13 15:00:00,4,0,1,1,27.06,30.305,78,12.9980,27,128,155
10380,2012-11-17 22:00:00,4,0,0,2,13.12,16.665,57,7.0015,15,130,145
5341,2011-12-16 15:00:00,4,0,1,2,13.12,15.150,45,19.9995,12,141,153

문제1. 주어진 데이터의 1.23%를 추출하면 몇개의 행이 추출되는가? (bike)

In [25]:
df.sample(frac=0.0123) #134개

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4290,2011-10-10 19:00:00,4,1,0,2,23.78,27.275,78,6.0032,69,267,336
8741,2012-08-06 14:00:00,3,0,1,1,33.62,37.880,46,0.0000,99,188,287
4802,2011-11-13 04:00:00,4,0,0,2,14.76,17.425,62,8.9981,1,5,6
5062,2011-12-05 00:00:00,4,0,1,1,13.12,16.665,87,6.0032,3,21,24
750,2011-02-14 15:00:00,1,0,1,1,22.96,26.515,21,43.9989,19,71,90
...,...,...,...,...,...,...,...,...,...,...,...,...
3576,2011-08-18 22:00:00,3,0,1,2,28.70,33.335,74,7.0015,18,117,135
10407,2012-11-19 01:00:00,4,0,1,2,14.76,17.425,66,15.0013,0,19,19
934,2011-03-03 09:00:00,1,0,1,1,6.56,6.820,37,19.0012,10,135,145
7056,2012-04-12 09:00:00,2,0,1,1,14.76,16.665,57,23.9994,16,271,287
5822,2012-01-17 19:00:00,1,0,1,1,18.86,22.725,63,27.9993,11,297,308

문제2. Season 기준 5%씩 추출 시 추출되는 총 행의 수는? (bike)

In [26]:
df.groupby('season').sample(frac=0.05)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
731,2011-02-13 20:00:00,1,0,0,1,16.40,20.455,35,22.0028,15,32,47
6062,2012-02-08 20:00:00,1,0,1,3,9.84,12.120,87,8.9981,3,122,125
161,2011-01-08 00:00:00,1,0,0,2,7.38,9.850,51,11.0014,1,24,25
5430,2012-01-01 08:00:00,1,0,0,1,10.66,13.635,87,7.0015,4,10,14
...,...,...,...,...,...,...,...,...,...,...,...,...
4238,2011-10-08 15:00:00,4,0,0,1,27.06,31.060,39,0.0000,262,234,496
4847,2011-11-15 01:00:00,4,0,1,1,22.96,26.515,60,19.9995,5,5,10
4472,2011-10-18 09:00:00,4,0,1,2,21.32,25.000,77,6.0032,29,198,227
4612,2011-11-05 06:00:00,4,0,0,1,10.66,12.120,60,16.9979,3,20,23
4138,2011-10-04 11:00:00,4,0,1,1,22.14,25.760,64,19.0012,22,102,124

In [27]:
df.groupby('season').sample(frac=0.05).shape[0] #답 545

545

3. 학습과 평가용 데이터 세트로8:2 분리시 평가용 데이터의 최고 기온은?

In [28]:
from sklearn.model_selection import train_test_split

In [30]:
train,test = train_test_split(df, train_size=0.8, random_state=123)

In [31]:
test['temp'].max() #답 39.36

39.36